*, *::before, *::after{ 
  box-sizing: border-box;    -webkit-tap-highlight-color: transparent;
}

:root{
  --spacer: 2rem;

  --ff-100-oswald: "Oswald", sans-serif;
  --ff-200-montserrat: "Montserrat", sans-serif;

  --fs-100-16px: 1rem;
  --fs-200-18px: 1.125rem;
  --fs-300-21px: 1.3125rem;
  --fs-400-24px: 1.5rem;
  --fs-500-30px: 1.875rem;
  --fs-600-36px: 2.25rem;
  --fs-800-64px: 4rem;
  --fs-900-90px: 5.625rem;

  --clr-neutral-100: #FFFFFF;
  --clr-neutral-900: #000000;
  --clr-dark-100: #6F737F;
  --clr-dark-200: #3B4050;
  --clr-dark-300: #2E323F;
  --clr-gold: #A59678;
  --clr-cream: #F1F1F0;

}


body{
  font-family: var(--ff-200-montserrat);
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ol[class],
ul[class]{
  list-style: none;
  padding: 0;
  margin: 0;
}

p{
  font-size: inherit;
  margin: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5{
  font-family: var(--ff-100-oswald);
  margin: 0;
  line-height: 1.1;
}

img{
  display: block;
  height: auto;
  max-width: 100%;
}
/* utility */
.container{
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}


/* vertical space */
.flow-content> * + *{
  margin-top: var(--flow-space, var(--spacer));
}

.flow-content--small{
  --flow-space: 1rem;
}

.flow-content--large{
  --flow-space: 4rem;
}

/* vertical space */
.split{
  display: flex;
  gap: var(--spacer);
  flex-direction: column;
}

.split--large{
  --split-space: 4rem;
}

.split--xlarge{
  --split-space: 8rem;
}

.split> *{
  /* makes even columns */
  flex-basis: 100%;
}

@media (min-width: 700px) {

  .row{
    display: flex;
    justify-content: space-between;
  }
  /* horizontal space */
  .split{
    /* gap: var(--split-space, var(--spacer)); */
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .split{
    gap: var(--split-space, var(--spacer)); 
  }
}

.clr-accent{
  color: var(--accent);
}

[class*="bg-"]{
  background-color: var(--bg);
  color: var(--fg);
}

section,
footer{
  /* font-size: min(var(--fs), 5vw); */
  font-size: var(--fs, inherit);
  padding: 6em 1rem;
}


@media (min-width: 700px) {
  section{
    padding: 8em 1rem;
  }
}

.bg-dark{
  --fg: var(--clr-neutral-100);
  --bg: var(--clr-dark-200);
  --accent: var(--clr-gold);
}

h2{
  font-size: var(--fs-500-30px);
}
h3{
  font-size: var(--fs-400-24px);
}
h4{
  font-size: var(--fs-300-21px);
}
.bg-dark h2{
  color: var(--accent);
}

.bg-light{
  --fg: var(--clr-neutral-900);
  --accent: var(--clr-gold);
}

.bg-light h2{
  color: var(--accent);
}

.bg-light h4{
  color: var(--accent);
}
/* reusable styles */
.btn{
  display: inline-block;
  color: var(--fg, red);
  background-color: var(--accent, purple);
  font-family: var(--ff-100-oswald);
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.25em 1.5em;
  border-radius: 100vw;
}

.section-title{
  font-size: min(var(--fs-900-90px), 15vw);
}
/*  */
.header{
  font-family: var(--ff-100-oswald);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--clr-dark-300);
  padding: 1em 0;
}

.header> div> div:first-child{
  display: flex;
  justify-content: space-between;
}

.header> div{
  flex-wrap: wrap;
  gap: 2rem;
}

.label-hamburger{
  cursor: pointer;
}

#hamburger:checked + nav{
  display: block;
}

.header nav{
  display: none;
}

.header ul{
  gap: 4rem;
}

.header ul li{
  display: flex;
  align-items: center;
  margin-top: var(--spacer);
}

@media (min-width: 700px) {
  .header nav{
    display: block;
  }

  .label-hamburger{
    display: none;
  }

  .header ul li{
    margin-top: 0rem;
  }
}

/*  */
.hero{
  --fs: var(--fs-400-24px);
}

@media (min-width: 700px) {
 
  .hero__content{
    margin-top: auto;
    --flow-space: var(--spacer);
  }
}
/*  */
.post-hero{
  text-align: center;
  --fs: var(--fs-200-18px);
  --bg: var(--clr-cream);
}

/*  */
.middle .card{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}

@media (min-width: 700px) {
  .middle img{
    aspect-ratio: 26 / 9;
  }
}

@media (min-width: 1000px) {
  .middle{
    display: flex;
    gap: 8rem;
  }

  .middle aside{
    display: flex;
    flex-direction: column;
    flex-basis: 120%;
  }

  .middle img{
    aspect-ratio: auto;
  }
}
/*  */
.footer{
  --flow-space: calc(var(--spacer)/2);
}

.footer ul+ul{
 flex-basis: 30%;
}

.footer-title{
  font-size: min(var(--fs-800-64px), 15vw);
  text-align: center;
  margin: 0 auto 4rem auto;
}
@media (min-width: 700px) {
  .footer{
    --flow-space: var(--spacer);
  }

  .footer-title{
    margin: 0 auto 8rem auto;
  }
}
